<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_SERVER_KEY</key>
	<string>$(API_SERVER_KEY)</string>
	<key>APP</key>
	<string>$(APP)</string>
	<key>APP_CENTER_APP_ID</key>
	<string>$(APP_CENTER_APP_ID)</string>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>APP_VERSION</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt_BR</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>176</string>
	<key>ENVIROMENT</key>
	<string>$(ENVIROMENT)</string>
	<key>HOST</key>
	<string>$(HOST)</string>
	<key>IDENTITY_HEADER_SALT</key>
	<string>$(IDENTITY_HEADER_SALT)</string>
	<key>IDENTITY_HEADER_SECRET</key>
	<string>$(IDENTITY_HEADER_SECRET)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LOG_APP_ID</key>
	<string>$(LOG_APP_ID)</string>
	<key>LOG_APP_SECRET</key>
	<string>$(LOG_APP_SECRET)</string>
	<key>LOG_ENCRYPTION_KEY</key>
	<string>$(LOG_ENCRYPTION_KEY)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>file</string>
		<string>itms-apps</string>
		<string>waze</string>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://agente-dev.stage.mj.gov.br</key>
			<true/>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) precisa de acesso à câmera.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>O aplicativo fará uso do Face ID para prencher suas credenciais automaticamente.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>O Agente de Campo precisa da sua localização atual</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O Agente de Campo precisa da sua localização atual</string>
	<key>PRIVACY_POLICIES_LINK</key>
	<string>$(PRIVACY_POLICIES_LINK)</string>
	<key>SCHEMA</key>
	<string>$(SCHEMA)</string>
	<key>SYSTEM_INITIALS</key>
	<string>$(SYSTEM_INITIALS)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>FiraSans-Thin.ttf</string>
		<string>FiraSans-ExtraLightItalic.ttf</string>
		<string>FiraSans-LightItalic.ttf</string>
		<string>FiraSans-Medium.ttf</string>
		<string>FiraSans-BoldItalic.ttf</string>
		<string>FiraSans-Bold.ttf</string>
		<string>FiraSans-ExtraLight.ttf</string>
		<string>FiraSans-ThinItalic.ttf</string>
		<string>FiraSans-MediumItalic.ttf</string>
		<string>FiraSans-BlackItalic.ttf</string>
		<string>FiraSans-Light.ttf</string>
		<string>FiraSans-Black.ttf</string>
		<string>FiraSans-ExtraBold.ttf</string>
		<string>FiraSans-SemiBold.ttf</string>
		<string>FiraSans-SemiBoldItalic.ttf</string>
		<string>FiraSans-ExtraBoldItalic.ttf</string>
		<string>FiraSans-Regular.ttf</string>
		<string>FiraSans-Italic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
